<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HelpAgainstCovid</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i|PT+Serif:700" rel="stylesheet">
    <link rel="stylesheet" href="/static/dist/css/style.css">
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style type="text/css">
::-webkit-scrollbar {
            width: 10px;
        }

         ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

         ::-webkit-scrollbar-thumb {
            background: #793dc9;
        }

         ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }

        #abc{
          animation: App-logo-spin infinite 15s linear;
          }
          @keyframes App-logo-spin {
          from {
            transform: rotate(0deg);
          }
          to {
            transform: rotate(360deg);
          }
        }
  </style>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="is-boxed has-animations" style="height: 100%;">
    <div class="body-wrap boxed-container">
        <header class="site-header">
            <div class="container">
                <div class="site-header-inner">
                    <div class="brand header-brand">
                        <h1 class="m-0">
                            <a href="http://127.0.0.1:500">
                                <img src="static/images/coronavirus.png" width="64" height="64" viewBox="0 0 64 64" alt="alternatetext" id="abc">
                            </a>
                        </h1>
                    </div>
                    <ul class="header-links list-reset m-0">
                        <li>
                            <a href="/about">About</a>
                        </li>
                        <li>
                            <a href="/contact">Contact us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>

        <main>
		   <p style="position: absolute;color: rgba(255, 255, 255, 0.8);margin-left: 37%;margin-top: -7%;font-size: 40px;font-weight: 1000;font-family: 'Lato', sans-serif">Help Against Covid</p><br>
      <p style="position: absolute;color: rgba(255, 255, 255, 0.8);margin-left:45%;margin-top: -2%;font-size: 15px;font-weight: 1000;font-family: 'Lato', sans-serif">
        Check Oxygen Availability</p>
        {% for row in range(length) %}
        <div class="card" style="width: 400px;height: 500px;float: left;margin-left: 10px;margin-top: 20px;">
          <div class="card-header bg-info" style="color: white;">{{data[row][0]}}</div>
          <div class="card-body" style="word-wrap: break-word;">{{data[row][1]}}</div>
          <div class="card-footer bg-info" style="color: white;">{{data[row][2]}}</div>
        </div>
        <br>
        {% endfor %}
      </main>

      </div>

      <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <footer class="site-footer">
            <div class="container">
                <div class="copyright text-center my-auto">
                    <span>Copyright © HelpAgainstCovid 2021</span>
            </div>
        </footer>
    </div>
    <script src="/static/dist/js/main.min.js"></script>

</body>
</html>
